@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    background-color: #032152;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}

.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

.dice {
    display: inline-block;
    text-align: center;
}

h1 {
    margin: 20px;
    text-shadow: 4px 0 #494848;
    font-size: 4rem;
    color: #4ecca3;

}

h2 {
    font-size: 2rem;
    color: #4ecca3;
}

img {
    width: 80%;
}

footer {
    margin-top: 2%;
    text-align: center;
}